# Obtaining Your Data

## Introduction
In this lesson, you'll synthesize many of your data loading skills you learned to date in order to merge multiple datasets from various sources.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources 

## Loading SQL DB to DataFrames
<img src="Database-Schema.png">

In [1]:
import sqlite3
import pandas as pd

# Create a connection
con = sqlite3.connect('data.sqlite')
# Create a cursor
cur = con.cursor()
# Select some data
cur.execute("""SELECT * FROM orders JOIN orderdetails USING(orderNumber);""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print(df.shape)
df.head()

(2996, 11)

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber,productCode,quantityOrdered,priceEach,orderLineNumber
0,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,S18_1749,30,136.00,3
1,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,S18_2248,50,55.09,2
2,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,S18_4409,22,75.46,4
3,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,S24_3969,49,35.29,1
4,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128,S18_2325,25,108.06,4

In [4]:
# Create a connection
con = sqlite3.connect('data.sqlite')
# Create a cursor
cur = con.cursor()
# Select some data
cur.execute("""SELECT * FROM products;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print(df.shape)
df.head()

(110, 9)

,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
1,S10_1949,1952 Alpine Renault 1300,Classic Cars,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30
2,S10_2016,1996 Moto Guzzi 1100i,Motorcycles,1:10,Highway 66 Mini Classics,"Official Moto Guzzi logos and insignias, saddl...",6625,68.99,118.94
3,S10_4698,2003 Harley-Davidson Eagle Drag Bike,Motorcycles,1:10,Red Start Diecast,"Model features, official Harley Davidson logos...",5582,91.02,193.66
4,S10_4757,1972 Alfa Romeo GTA,Classic Cars,1:10,Motor City Art Classics,Features include: Turnable front wheels; steer...,3252,85.68,136.00

## Merging Data

Recall that you can also join data from multiple tables in SQL.

In [5]:
# Create a connection
con = sqlite3.connect('data.sqlite')
# Create a cursor
cur = con.cursor()
# Select some data
cur.execute("""SELECT * FROM products
                        JOIN orderdetails
                        USING (productCode);""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print(df.shape)
df.head()

(2996, 13)

,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP,orderNumber,quantityOrdered,priceEach,orderLineNumber
0,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70,10107,30,81.35,2
1,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70,10121,34,86.13,5
2,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70,10134,41,90.92,2
3,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70,10145,45,76.56,6
4,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70,10159,49,81.35,14

You can also merge data from a separate csv file. For example, say you take a separate data source regarding daily sales data for the various branches. You might first generate a view from our database:

In [6]:
# Create a connection
con = sqlite3.connect('data.sqlite')
# Create a cursor
cur = con.cursor()
# Select some data
cur.execute("""SELECT * FROM customers
                        JOIN orders
                        USING(customerNumber);""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print(df.shape)
df.head()

(326, 19)

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit,orderNumber,orderDate,requiredDate,shippedDate,status,comments
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00,10123,2003-05-20,2003-05-29,2003-05-22,Shipped,
1,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00,10298,2004-09-27,2004-10-05,2004-10-01,Shipped,
2,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00,10345,2004-11-25,2004-12-01,2004-11-26,Shipped,
3,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,USA,1166,71800.00,10124,2003-05-21,2003-05-29,2003-05-25,Shipped,Customer very concerned about the exact color ...
4,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,USA,1166,71800.00,10278,2004-08-06,2004-08-16,2004-08-09,Shipped,

And then load the seperate datefile:

In [7]:
daily_sums = pd.read_csv('Daily_Sales_Summaries.csv')
daily_sums.head()

    orderDate      min      max       sum         mean          std
0  2003-01-06  1660.12  4080.00  10223.83  2555.957500  1132.572429
1  2003-01-09  1463.85  4343.56  10549.01  2637.252500  1244.866467
2  2003-01-10  1768.33  3726.45   5494.78  2747.390000  1384.599930
3  2003-01-29  1283.48  5571.80  50218.95  3138.684375  1168.280303
4  2003-01-31  1338.04  4566.99  40206.20  3092.784615  1148.570425

In [9]:
merged = pd.merge(df, daily_sums)
merged

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,...,orderDate,requiredDate,shippedDate,status,comments,min,max,sum,mean,std
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,...,2003-05-20,2003-05-29,2003-05-22,Shipped,,2163.50,5282.64,14571.44,3642.860000,1322.891537
1,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,...,2004-09-27,2004-10-05,2004-10-01,Shipped,,1938.24,4128.54,6066.78,3033.390000,1548.775983
2,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,...,2004-11-25,2004-12-01,2004-11-26,Shipped,,557.60,7573.50,20564.45,2570.556250,2178.832190
3,350,Marseille Mini Autos,Lebihan,Laurence,91.24.4555,"12, rue des Bouchers",,Marseille,,13008,...,2004-11-25,2004-12-02,2004-11-29,Shipped,,557.60,7573.50,20564.45,2570.556250,2178.832190
4,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,...,2003-05-21,2003-05-29,2003-05-25,Shipped,Customer very concerned about the exact color ...,798.38,4704.92,40207.06,2680.470667,1255.052262
5,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,...,2003-05-21,2003-05-27,2003-05-24,Shipped,,798.38,4704.92,40207.06,2680.470667,1255.052262
6,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,...,2004-08-06,2004-08-16,2004-08-09,Shipped,,1158.78,7041.30,33347.88,3334.788000,1676.147862
7,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,...,2004-11-29,2004-12-05,2004-11-30,Shipped,,848.54,5657.40,56186.74,3121.485556,1357.565071
8,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,...,2004-11-29,2004-12-07,2004-11-30,Shipped,Can we deliver the new Ford Mustang models by ...,848.54,5657.40,56186.74,3121.485556,1357.565071
9,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,...,2003-04-29,2003-05-08,2003-05-01,Shipped,,1962.48,7304.80,45864.03,3057.602000,1393.255756
10,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,...,2004-02-20,2004-02-29,2004-02-24,Shipped,,1334.60,9299.71,44894.74,2992.982667,2009.341334
11,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,...,2004-11-24,2004-12-01,2004-11-29,Shipped,,1084.89,8667.90,125129.55,3575.130000,1836.487280
12,216,Enaco Distributors,Saavedra,Eduardo,(93) 203 4555,"Rambla de Cataluña, 23",,Barcelona,,08022,...,2004-11-24,2004-12-01,2004-11-25,Shipped,Customer is interested in buying more Ferrari ...,1084.89,8667.90,125129.55,3575.130000,1836.487280
13,353,Reims Collectables,Henriot,Paul,26.47.1555,59 rue de l'Abbaye,,Reims,,51100,...,2004-11-24,2004-12-01,2004-11-26,Shipped,,1084.89,8667.90,125129.55,3575.130000,1836.487280
14,382,Salzburg Collectables,Pipps,Georg,6562-9555,Geislweg 14,,Salzburg,,5020,...,2004-11-24,2004-12-01,2004-11-29,Shipped,,1084.89,8667.90,125129.55,3575.130000,1836.487280
15,119,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",,Nantes,,44000,...,2004-07-23,2004-08-02,2004-07-29,Shipped,,1525.70,5577.48,47924.19,2662.455000,1101.939025
16,119,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",,Nantes,,44000,...,2004-10-29,2004-11-08,2004-10-30,Shipped,,1890.48,3914.05,19501.82,2785.974286,709.415256
17,119,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",,Nantes,,44000,...,2005-02-03,2005-02-10,2005-02-06,Shipped,,1205.20,8317.80,49523.67,3301.578000,2012.727553
18,119,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",,Nantes,,44000,...,2005-05-31,2005-06-07,,In Process,,553.52,10072.00,70933.74,3733.354737,2335.560075
19,141,Euro+ Shopping Channel,Freyre,Diego,(91) 555 94 44,"C/ Moralzarzal, 86",,Madrid,,28034,...,2005-05-31,2005-06-08,,In Process,,553.52,10072.00,70933.74,3733.354737,2335.560075
20,121,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,,Stavern,,4110,...,2003-01-29,2003-02-07,2003-02-02,Shipped,,1283.48,5571.80,50218.95,3138.684375,1168.280303
21,121,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,,Stavern,,4110,...,2003-10-10,2003-10-18,2003-10-15,Shipped,,1148.91,7737.93,56174.06,2956.529474,1679.552762
22,321,Corporate Gift Ideas Co.,Brown,Julie,6505551386,7734 Strong St.,,San Francisco,CA,94217,...,2003-10-10,2003-10-19,2003-10-16,Shipped,,1148.91,7737.93,56174.06,2956.529474,1679.552762
23,121,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,,Stavern,,4110,...,2004-10-15,2004-10-24,2004-10-18,Shipped,,1429.44,4694.50,60216.08,2737.094545,910.588820
24,319,Mini Classics,Frick,Steve,9145554562,3758 North Pendale Street,,White Plains,NY,24067,...,2004-10-15,2004-10-24,2004-10-20,Shipped,Customer requested that FedEx Ground is used f...,1429.44,4694.50,60216.08,2737.094545,910.588820
25,121,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,,Stavern,,4110,...,2004-11-05,2004-11-13,2004-11-08,Shipped,,880.50,8116.50,86504.96,3460.198400,1739.845907
26,128,"Blauer See Auto, Co.",Keitel,Roland,+49 69 66 90 2555,Lyonerstr. 34,,Frankfurt,,60528,...,2004-11-05,2004-11-12,2004-11-09,Shipped,,880.50,8116.50,86504.96,3460.198400,1739.845907
27,181,Vitachrome Inc.,Frick,Michael,2125551500,2678 Kingston Rd.,Suite 101,NYC,NY,10022,...,2004-11-05,2004-11-11,2004-11-08,Shipped,,880.50,8116.50,86504.96,3460.198400,1739.845907
28,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,...,2003-03-26,2003-04-02,2003-03-27,Shipped,,1352.86,4973.50,11044.30,2761.075000,1557.528787
29,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,...,2003-07-02,2003-07-12,2003-07-03,Shipped,,687.20,7273.14,55601.84,3270.696471,1941.524565
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,448,Scandinavian Gift Ideas,Larsson,Martha,0695-34 6555,Åkergatan 24,,Bräcke,,S-844 67,...,2003-10-23,2003-10-30,,Cancelled,Customer called to cancel. The warehouse was n...,1151.01,6102.56,44167.09,2760.443125,1351.754160
297,448,Scandinavian Gift Ideas,Larsson,Martha,0695-34 6555,Åkergatan 24,,Bräcke,,S-844 67,...,2005-03-03,2005-03-09,2005-03-08,Shipped,,1107.54,5947.00,58260.31,3641.269375,1460.320586
298,462,FunGiftIdeas.com,Benitez,Violeta,5085552555,1785 First Street,,New Bedford,MA,50553,...,2005-03-03,2005-03-11,2005-03-09,Shipped,,1107.54,5947.00,58260.31,3641.269375,1460.320586
299,450,The Sharp Gifts Warehouse,Frick,Sue,4085553659,3086 Ingle Ln.,,San Jose,CA,94217,...,2004-05-11,2004-05-19,2004-05-15,Shipped,,1319.76,6670.35,42798.08,3057.005714,1251.076272
300,450,The Sharp Gifts Warehouse,Frick,Sue,4085553659,3086 Ingle Ln.,,San Jose,CA,94217,...,2004-06-14,2004-06-24,2004-06-15,Shipped,,2373.02,4609.50,16753.30,3350.660000,861.662131
301,450,The Sharp Gifts Warehouse,Frick,Sue,4085553659,3086 Ingle Ln.,,San Jose,CA,94217,...,2005-04-01,2005-04-11,2005-04-04,Shipped,Customer requested that DHL is used for this s...,834.20,8616.96,62009.09,3647.593529,1905.391532
302,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,...,2005-04-01,2005-04-12,2005-04-03,Shipped,,834.20,8616.96,62009.09,3647.593529,1905.391532
303,452,Mini Auto Werke,Mendel,Roland,7675-3555,Kirchgasse 6,,Graz,,8010,...,2003-10-21,2003-10-30,2003-10-23,Resolved,"This order was disputed, but resolved on 11/1/...",1157.25,5960.36,37099.75,3372.704545,1597.891704
304,462,FunGiftIdeas.com,Benitez,Violeta,5085552555,1785 First Street,,New Bedford,MA,50553,...,2003-10-21,2003-10-30,2003-10-27,Shipped,,1157.25,5960.36,37099.75,3372.704545,1597.891704
305,452,Mini Auto Werke,Mendel,Roland,7675-3555,Kirchgasse 6,,Graz,,8010,...,2005-03-10,2005-03-18,2005-03-12,Shipped,,2264.77,3535.92,8807.12,2935.706667,638.519321
306,455,Super Scale Inc.,Murphy,Leslie,2035559545,567 North Pendale Street,,New Haven,CT,97823,...,2004-05-04,2004-05-12,2004-05-09,Shipped,,2196.00,6630.34,32239.47,3582.163333,1404.282361
307,456,Microscale Inc.,Choi,Yu,2125551957,5290 North Pendale Street,Suite 200,NYC,NY,10022,...,2004-04-20,2004-04-28,2004-04-25,Shipped,Customer is interested in buying more Ferrari ...,1679.92,1679.92,1679.92,1679.920000,NaN
308,458,"Corrida Auto Replicas, Ltd",Sommer,Martín,(91) 555 22 82,"C/ Araquil, 67",,Madrid,,28023,...,2003-05-28,2003-06-07,2003-06-02,Shipped,,1613.30,7817.74,57131.92,3360.701176,1473.291733
309,458,"Corrida Auto Replicas, Ltd",Sommer,Martín,(91) 555 22 82,"C/ Araquil, 67",,Madrid,,28023,...,2004-01-26,2004-02-04,2004-01-29,Shipped,,643.80,8353.00,22162.61,3166.087143,2723.199074
310,471,"Australian Collectables, Ltd",Clenahan,Sean,61-9-3844-6555,7 Allen Street,,Glen Waverly,Victoria,3150,...,2003-11-21,2003-11-28,2003-11-27,Shipped,,836.94,5090.36,35505.63,2219.101875,1077.631810
311,471,"Australian Collectables, Ltd",Clenahan,Sean,61-9-3844-6555,7 Allen Street,,Glen Waverly,Victoria,3150,...,2004-07-02,2004-07-09,2004-07-07,Shipped,,3365.10,6050.03,9415.13,4707.565000,1898.532210
312,471,"Australian Collectables, Ltd",Clenahan,Sean,61-9-3844-6555,7 Allen Street,,Glen Waverly,Victoria,3150,...,2005-05-09,2005-05-20,2005-05-12,Disputed,Customer claims the scales of the models don't...,1076.94,4427.31,10945.26,2189.052000,1345.117759
313,473,Frau da Collezione,Ricotti,Franco,+39 022515555,20093 Cologno Monzese,Alessandro Volta 16,Milan,,,...,2003-10-09,2003-10-15,2003-10-14,Shipped,,1579.48,5239.68,17746.26,2957.710000,1307.090649
314,473,Frau da Collezione,Ricotti,Franco,+39 022515555,20093 Cologno Monzese,Alessandro Volta 16,Milan,,,...,2004-02-09,2004-02-16,2004-02-11,Shipped,Customer requested that ad materials (such as ...,2430.12,5181.94,7612.06,3806.030000,1945.830583
315,475,West Coast Collectables Co.,Thompson,Steve,3105553722,3675 Furth Circle,,Burbank,CA,94019,...,2004-01-29,2004-02-08,2004-02-01,Shipped,Customer requested that FedEx Ground is used f...,1742.51,7200.55,36070.47,3607.047000,1719.545410
316,484,"Iberia Gift Imports, Corp.",Roel,José Pedro,(95) 555 82 82,"C/ Romero, 33",,Sevilla,,41101,...,2004-10-06,2004-10-14,2004-10-09,Shipped,Customer inquired about remote controlled mode...,856.80,2617.86,3474.66,1737.330000,1245.257468
317,486,Motor Mint Distributors Inc.,Salazar,Rosa,2155559857,11328 Douglas Av.,,Philadelphia,PA,71270,...,2003-03-10,2003-03-19,2003-03-11,Shipped,Customer requested that FedEx Ground is used f...,930.90,7400.02,25833.14,4305.523333,2323.952541
318,486,Motor Mint Distributors Inc.,Salazar,Rosa,2155559857,11328 Douglas Av.,,Philadelphia,PA,71270,...,2004-04-03,2004-04-11,2004-04-08,Shipped,,1212.10,2358.36,5899.38,1966.460000,653.460738
319,487,Signal Collectibles Ltd.,Taylor,Sue,4155554312,2793 Furth Circle,,Brisbane,CA,94217,...,2003-09-12,2003-09-18,2003-09-17,Shipped,,1002.82,5317.60,29997.09,2727.008182,1568.196273
320,487,Signal Collectibles Ltd.,Taylor,Sue,4155554312,2793 Furth Circle,,Brisbane,CA,94217,...,2004-02-10,2004-02-17,2004-02-12,Shipped,,653.52,5702.66,12573.28,3143.320000,2374.138863
321,489,"Double Decker Gift Stores, Ltd",Smith,Thomas,(171) 555-7555,120 Hanover Sq.,,London,,WA1 1DP,...,2004-01-22,2004-01-28,2004-01-27,Shipped,Difficult to negotiate with customer. We need ...,1461.00,3217.46,7310.42,2436.806667,894.344201
322,495,Diecast Collectables,Franco,Valarie,6175552555,6251 Ingle Ln.,,Boston,MA,51003,...,2003-12-09,2003-12-17,2003-12-11,Shipped,Check on availability.,1291.92,6195.64,59265.14,3704.071250,1564.227089
323,495,Diecast Collectables,Franco,Valarie,6175552555,6251 Ingle Ln.,,Boston,MA,51003,...,2004-04-26,2004-05-03,2004-04-28,Shipped,,1018.71,5257.89,6276.60,3138.300000,2997.552925
324,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,...,2003-07-07,2003-07-16,2003-07-13,Shipped,,730.18,4936.80,32077.44,2467.495385,1382.146181
325,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,...,2004-12-16,2004-12-22,2004-12-18,Shipped,,1675.55,6307.50,52166.00,2898.111111,1050.057830

## Checking Merged Data

It's always good practice to check assumptions and preview transformed data views throughout your process. Let's take a look:

In [7]:
merged.head()

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,...,orderDate,requiredDate,shippedDate,status,comments,min,max,sum,mean,std
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,...,2003-05-20,2003-05-29,2003-05-22,Shipped,,2163.50,5282.64,14571.44,3642.860000,1322.891537
1,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,...,2004-09-27,2004-10-05,2004-10-01,Shipped,,1938.24,4128.54,6066.78,3033.390000,1548.775983
2,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,...,2004-11-25,2004-12-01,2004-11-26,Shipped,,557.60,7573.50,20564.45,2570.556250,2178.832190
3,350,Marseille Mini Autos,Lebihan,Laurence,91.24.4555,"12, rue des Bouchers",,Marseille,,13008,...,2004-11-25,2004-12-02,2004-11-29,Shipped,,557.60,7573.50,20564.45,2570.556250,2178.832190
4,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,...,2003-05-21,2003-05-29,2003-05-25,Shipped,Customer very concerned about the exact color ...,798.38,4704.92,40207.06,2680.470667,1255.052262

Pandas' `merge()` function conveniently uses common column names between the DataFrames as keys. You can always specifically specify what columns to join on by using the `on` keyword as in `pd.merge(df1, df2, on=[col1, col2])`. Unfortunately, columns that are not identically named beforehand will not work with this convenience method. Additionally, it is imperative to check the formatting of the join keys between the tables. A number formatted as a string can often ruin joins, and separate formatting conventions such as 'U.S.' versus 'USA' are also important preprocessing considerations before merging data files from various sources. In this case, everything worked smoothly, but it's good to keep in mind what problems may occur.

## Saving Transformed Data to File
Finally, we can save our transformed dataset.

In [8]:
merged.to_csv('Merged_Dataset.csv', index=False)

## Summary
Well done! In this lesson you reviewed merges, as well as potential pitfalls in merging datasets from different sources. In the next lab, you'll get some practice doing this as an initial step to a regression task.